---
import Menu from "../components/Menu.astro";
import TitlePage from "../components/TitlePage.astro";
import CardServices from "../components/CardServices.astro";

const services = [
  {
    titulo: "web Development",
    desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, enim! Sapiente beatae possimus perspiciatis, adipisci sit asperiores consequatur autem magnam dolorem alias neque, voluptate non itaque et consectetur ratione a. ",
  },
  {
    titulo: "Mobile Development",
    desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, enim! Sapiente beatae possimus perspiciatis, adipisci sit asperiores consequatur autem magnam dolorem alias neque, voluptate non itaque et consectetur ratione a. ",
  },
  {
    titulo: "Consultation",
    desc: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, enim! Sapiente beatae possimus perspiciatis, adipisci sit asperiores consequatur autem magnam dolorem alias neque, voluptate non itaque et consectetur ratione a. ",
  },
];
---

<Menu />
<section class="bg-gray-200 pt-20 pb-28 px-8">
  <div class="max-w-6xl mx-auto">
    <TitlePage title="Services" subtitle="Here's what I offer" />
    <div class="mt-24 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-20">
      {
        services.map((item) => (
          <CardServices title={item.titulo} desc={item.desc} />
        ))
      }
    </div>
  </div>
</section>
